<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{mm:ss.SSS} %-5p){faint} %clr([%-15t]){faint} %clr([%-100.100C].[%-30.30M]:%-5L){cyan} %n%highlight(%m) %n%n%wEx"/>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="com.example" level="DEBUG"/>
    <logger name="org.springframework.web" level="DEBUG"/>
</configuration>