<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{mm:ss.SSS} %-5p){faint} %clr([%15t]){faint} %clr([%-40.40C.%-30.30M:%4L]){cyan} %clr(:){faint} %m%n%wEx"/>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="com.example" level="DEBUG"/>
    <logger name="org.springframework.web" level="DEBUG"/>
</configuration>